body {
    font-family: arial, serif;
    font-size: 18px;
}

main {
    margin: 32px auto;
    width: 400px;
}

hr {
    margin: 32px 0;
}

a {
    color: black;
    font-size: 18px;
}

ul {
    font-size: 18px;
}

.button {
    background-color: #c8fff5;
    padding: 16px 16px;
    margin-bottom: 8px;
    text-decoration: none;
    color: black;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    width: 150px
}