<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>DB - Aggregations</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static',filename='style.css') }}">
</head>
<body>
<main>
    <h2>DB - Aggregations</h2>
    <hr>
    <form action="/create_db">
        <input type="submit" value="Create" class="button">
        Создать таблицы БД
    </form>
    <form action="/drop_db">
        <input type="submit" value="Drop" class="button">
        Сбросить таблицы БД
    </form>
    <form action="/add">
        <input type="submit" value="Add" class="button">
        Наполнение таблиц БД
    </form>
    <hr>
    <h3>API - Integrations</h3>
    <h4>GET:</h4>
    <ul>
        <li><a href="/users">/users</a> - показать список пользователей</li>
        <li><a href="/orders">/orders</a> - показать список заказов</li>
        <li><a href="/offers">/offers</a> - показать список предложений</li>
    </ul>
    <h4>GET, PUT, DELETE:</h4>
    <ul>
        <li>/users/id</li> - выполнить операцию в зависимости от метода
        <li>/orders/id</li> - выполнить операцию в зависимости от метода
        <li>/offers/id</li> - выполнить операцию в зависимости от метода
    </ul>
    <hr>
</main>
</body>
</html>